body {
    color: rgb(129, 18, 139);
    font-family: Arial;
    max-width: 650px;
    margin : 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
}
footer {
    color: #888888;
    border-top: 1px solid #e41111;
    margin-top : 16px;
    padding : 16px 0;
    font-size: 30px;
}
.portrait {
    height: 360px;
    width: 270x;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
    text-decoration: none;
    
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: rgb(45, 26, 3);
    margin-right: 16px;
    text-decoration: none;
}
input {
    border: 1px solid #cccccc;
    padding: 8px;
}
button {
    cursor: pointer;
    border : 1px solid #888888;
    background-color: #888888;
    color: #000;
    padding : 8px;
}

